{% extends 'base.html.twig' %}

{% block body %}

<div id="sidebar">

  <ul>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>

</div>

<div id="mainDiv">

</div>

{% endblock %}

{% block stylesheets %}
<style media="screen">
    #mainDiv { padding-left: 20%;}
    #sidebar { background: rgb(52, 143, 218); height: 100%; width: 20%; position: fixed;}
</style>

{% endblock %}
